<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Coin Change</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script src="js/core.js" type="text/javascript"></script>
</head>

<body ng-controller="myController">

<div class="container">
    <div class="panel panel-default col-xl-8 col-xl-offset-2 col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12">
        <div class="panel-heading text-center">Coin Counter</div>

        <div class="panel-body">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
                <button type="button" class="btn btn-default btn-circle btn-xl" ng-click="showPromptBox(0)">
                    {{coins[0]}}&cent;
                </button>
                <span class="badge">{{amounts[0]}}</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
                <button type="button" class="btn btn-default btn-circle btn-xl" ng-click="showPromptBox(1)">
                    {{coins[1]}}&cent;
                </button>
                <span class="badge">{{amounts[1]}}</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
                <button type="button" class="btn btn-default btn-circle btn-xl" ng-click="showPromptBox(2)">
                    {{coins[2]}}&cent;
                </button>
                <span class="badge">{{amounts[2]}}</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
                <button type="button" class="btn btn-default btn-circle btn-xl disabled">{{coins[3]}}&cent;</button>
                <span class="badge">{{amounts[3]}}</span>
            </div>

            <form name="myForm" class="text-center" ng-submit="calculate()">
                <div class="input-group">
                    <span class="input-group-addon">&cent;</span>
                    <input type="number" name="input" id="input-total" class="form-control" ng-model="total" min="0"
                           max="1000" required>
                </div>
                <button class="btn btn-default" id="calculate">CALCULATE</button>
            </form>
            <br>
        </div>
    </div>
</div>

</body>
</html>